include LICENSE
include README.md
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include src/senaite *
recursive-exclude src/senaite *.pyc
recursive-exclude src/senaite/lims/tests *
